<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gowing Weather</title>
    <link rel='stylesheet' type="text/css" href="stylesheets/style.css">
    <script src="main.js" charset="utf-8"></script>
  </head>
  <body onload="testScript()">
    <div id="searchCity">
      <input type=text id="cityInput" placeholder="enter a city"> </input>
      <button id="searchButton"></button>
    </div>
    <h1 class="weatherHeadline"> {{ description }} </h1>
    <h3 class="big"> {{ temp }} degrees Celcius  </h3>
    <h2 id="test"> </h2>
  </body>
</html>
