<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gowing Weather</title>
    <link rel='stylesheet' type="text/css" href="stylesheets/style.css">
    <script src="js/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="container">
      <div class="center">
        <h1 class=" temp center text"> 21 </h1><span class="degrees text">°C</span>
        <p class=" center description text"> description </p>
      </div>
      <div class="center">
        <p class=" center smaller text">in</p>
        <p id="location" class=" center medium text">Colchester</p>
      </div>
      <div class="center break"></div>
      <div class="center">
        <input value="Colchester, England"
               type="text"
               class="center inputCity">
             </input>
        <a href="#" onclick="lookupCity()" class="searchButton">
          <img src="/images/search.png" class="searchIcon">
        </a>
        <p class="center smaller text error">
        </p>
      </div>
      <div class="center break"></div>
    </div>
  </body>
</html>
