html {
  height:100%;
  margin:0;
}

body {
  background: rgb(208,255,255);
  background: linear-gradient(145deg, rgba(208,255,255,1) 0%, rgba(123,240,249,1) 48%, rgba(54,255,253,1) 100%);
  font-family: 'Jura', sans-serif;
}
#container{
  margin:auto;
  max-width: 800px;
  display: block;
}

@media only screen and (min-width: 600px) {

}

.icon {
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.center{
  margin:auto;
  display:block;
  text-align: center;
}

.text {
  text-shadow: 0px 0px 12px #dedede;
  color:white;
  overflow-wrap:break-word;
}

.temp{
  font-size: 120px;
  display: inline-block;
}

.degrees{
  font-size: 70px;
  vertical-align: super;
  display: inline-block;
}

.description{
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.break{
  margin-top:30px;
  height:5px;
  background: #dedede;
  border-radius: 3px;
  width:60%;
}

.smaller{
  font-size:16px;
  font-weight: lighter;
}
.smallest{
  font-size:10px;
  font-weight: lighter;
}

.medium{
  font-size:22px;
  font-weight: bold;
}

.inputCity{
  width: 70%;
  max-width: 300px;
  display: inline-block;
  margin-top: 15px;
  height: 30px;
  border: none;
  box-shadow: 0px 0px 12px 0px #dedede;
  font-weight: lighter;
}

.searchButton{
  margin-top: 15px;
  display: inline-block;
  background: #fff;
  width: 35px;
  height: 33px;
  transform: translate(0%,27%);
  box-shadow: 0px 0px 12px 0px #dedede;
  margin-left: 8px;
  border-radius: 5px;
}

.searchIcon{
  max-width: 30px;
  max-height: 30px;
  transform: rotateZ(90deg) translate(-50%,0%);
  position: relative;
  top: 50%;
}

.error {
  display:block;
  visibility: hidden;
  color:white;
  margin-top:10px;
  font-weight: bold;
}

.details {
  width: auto;
  display: block;
}

.smallIcon {
  max-width: 50px;
  max-height:50px;
  margin-bottom: -10px;
}

.item{
  background: #70f2fa;
  width: 85px;
  padding:5px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px #6de0db;
  display: inline-block;
  height:150px;

  margin:5px;
}

.item .text {
  min-height: 40px;
}




#footer {
  background: #a5f7fc;
  margin-top: 30px;
  padding: 10px;
  max-width: 450px;
}
