@import url("https://fonts.googleapis.com/css?family=Mali");
h3 {
  color: #f00;
  font-size: 30px;
}
body {
  background-color: #c8d3d8;
  font-family: "Mali", cursive;
  padding: 0.05%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px #71abbd;
  background-color: #dbe3e6;
}

.weatherHeadline {
  color: #a1a4a5;
  font-size: 12vh;
  width: 100%;
  text-align: center;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  opacity: 0.8;
}

.weatherSubHeading {
  font-weight: 500;
  font-size: 6vh;
}

#searchCity {
  height: 5vh;
  width: 36%;
  /* height: 10vh; */
  margin: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

#cityInput {
  width: 57%;
  display: inline-block;
  text-align: center;
  font-size: 100%;
  box-shadow: 5px 5px 10px #7fb1c1;
  padding: 1%;
  border: none;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0);
  transition: 0.3s ease;
}

#cityInput:hover {
  border:1px solid blue;
}


#searchButton {
  height: 58%;
  position: relative;
  z-index: 1;
  margin-left: -5%;
}

#searchButton:hover{
  cursor:pointer;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #71abbd;
  background-color: #dbe3e6;
  margin-bottom: 1vh;
  height: 5vh;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#title {
  font-weight: 600;
  font-size: 3vh;
}
#faq {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
  background-color: #bdbdce;
  color: black;
  font-size: 2vh;
  border-radius: 2px;
  transition: 0.2s ease;
}

#faq:hover {
  background-color: #d1d1de
}
