@import url("https://fonts.googleapis.com/css?family=Mali");
h3 {
  color: #f00;
  font-size: 30px;
}
body {
  background-color: #c8d3d8;
  font-family: "Mali", cursive;
  padding: 0.05%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px #71abbd;
  background-color: #dbe3e6;
}

.weatherHeadline {
  color: #a1a4a5;
  font-size: 12vh;
  width: 100%;
  text-align: center;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  opacity: 0.8;
}

.weatherSubHeading {
  font-weight: 500;
  font-size: 6vh;
}

#searchCity {
  height: 5vh;
  width: 36%;
  /* height: 10vh; */
  margin: auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

#cityInput {
  width: 57%;
  display: inline-block;
  text-align: center;
  font-size: 100%;
  box-shadow: 5px 5px 10px #7fb1c1;
  padding: 1%;
  border:none;
  border-radius: 15px;
}

#searchButton {
  height: 58%;
  /* width: 6%; */
  position: relative;
  z-index: 1;
  margin-left: -5%;
}
